.about-team {
  margin-top: 54px;
  &-container {
    text-align: center;
  }

  &-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
    &__item {
      display: grid;
      gap: 14px;
      text-align: center;
      text-transform: capitalize;
    }

    &__box {
      overflow: hidden;
      border-radius: 10px 10px 0 0;

      &:hover .about-team-list__img {
        transform: translateY(38%) scale(1.8);
      }
    }
    &__img {
      height: 220px;
      border-bottom: 8px solid var(--accent-color);

      transition: all 0.3s ease;
    }
    &__name {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
    }
    &__position {
      margin: 0;
      font-size: 15px;
    }
  }
}

@include small-tablet {
  .about-team {
    &-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include big-mobile {
  .about-team {
    &-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 18px;
    }
  }
}
