.footer {
  background-color: var(--accent-color);
  &-container {
    display: grid;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    margin-top: 100px;
    border-top: 2px solid #979797;
    border-bottom: 1px solid #979797;
  }
  &-logo {
    padding-left: 80px;
    padding-right: 30px;
    max-width: 342px;
    height: 97px;
  }
  &-contact {
    &__box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      color: var(--light-color);
    }
    &__location {
      padding-left: 32px;
      font-size: 14px;
      background-image: url('../img/svg/location.svg');
      background-repeat: no-repeat;
      background-size: 24px;
    }
    &__phone {
      color: var(--light-color);
      padding-left: 32px;
      font-size: 14px;
      background-image: url('../img/svg/phone.svg');
      background-repeat: no-repeat;
      background-size: 24px;
      line-height: 160%;
    }
    &__email {
      color: var(--light-color);
      padding-left: 32px;
      font-size: 14px;
      background-image: url('../img/svg/mail.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-size: 24px;
      line-height: 160%;
    }
  }
  &-socials {
    margin-top: 26px;
    justify-content: space-between;
    &__text {
      font-weight: 500;
      font-size: 14px;
      color: var(--light-color);
    }
    &__link {
      display: flex;
      align-items: center;
      svg {
        width: 25px;
        height: 25px;
        fill: var(--light-color);
      }
    }
  }
  &-bottom {
    padding: 24px 0 76px;
    justify-content: space-between;
  }
  &-nav {
    &__list {
      gap: 70px;
    }
    &__item {
      max-width: 140px;
      display: grid;
      gap: 8px;
    }
    &__link {
      width: 100%;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--light-color);
    }
  }
  &-copyright {
    color: var(--light-color);
    font-weight: 200;
    font-size: 14px;
  }
}

@include small-tablet {
  .footer {
    &-logo {
      padding-left: 0px;
    }

    &-bottom {
      flex-direction: column;
      gap: 50px;
    }
    &-nav {
      &__list {
        gap: 30px;
      }
    }
  }
}

@include big-mobile {
  .footer {
    &-bottom {
      padding: 24px 0 24px;
      justify-content: space-between;
      gap: 30px;
    }
    &-wrapper {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      justify-items: center;
      margin-top: 60px;
      padding: 30px 0;
    }
    &-logo {
      padding: 0px;
    }

    &-socials {
      margin-top: 26px;
      gap: 18px;
    }
    &-nav {
      &__list {
        gap: 16px;
        align-items: flex-start;
      }
      &__link {
        font-size: 8px;
      }
    }
  }
}
