.header {
  z-index: 18;
  &-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1512px;
    padding: 33px 58px;
    justify-content: space-between;
  }
  &-logo {
    width: 182px;
    height: 52px;
  }
  &-nav {
    gap: 35px;

    &__list {
      gap: 35px;
    }
    &__item {
      padding: 0;
      transition: padding 0.4s ease;
      &:hover {
        padding-bottom: 18px;
      }
    }
    &__link {
      padding-bottom: 8px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 12px;
      line-height: 200%;
      text-transform: capitalize;
      text-align: center;
      color: #1e1e1e;
      transition: all 0.4 ease-in-out;
      &:hover {
        color: var(--accent-color);
        border-bottom: 2px solid var(--accent-color);
      }
      &.link-active {
        color: var(--accent-color);
        border-bottom: 2px solid var(--accent-color);
      }
    }
  }
}
.burger {
  display: none;
}

@include tablet {
  .header {
    &-wrapper {
      padding: 33px 15px;
    }
    &-nav {
      gap: 25px;
      &__list {
        gap: 15px;
      }
    }
  }
}

@include small-tablet {
  .header {
    &-nav {
      width: 100%;
      height: 100vh;
      visibility: hidden;
      position: absolute;
      display: flex;
      justify-content: center;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 0.2s ease;
      &.menu--active {
        visibility: visible;
        z-index: 8;
        background-color: var(--light-color);
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 8px -8px 10px rgba(0, 0, 0, 0.1);
        opacity: 1;
      }
      &__list {
        flex-direction: column;
      }
      &__link {
        font-size: 28px;
      }
      &__btn {
        display: none;
      }
    }
  }
  .burger {
    z-index: 9;
    margin-right: 22px;
    @include burger;
    display: block;
    color: var(--accent-color);
  }
}
