.process {
  padding: 144px 0;
  &-container {
    justify-content: space-between;
  }
  &-video {
    margin: 0 15px;
    max-width: 640px;
    width: 100%;
    max-height: 320px;

    &__item {
      width: 100%;

      border-radius: 8px;
      box-shadow: 0 36px 111px 0 rgba(0, 0, 0, 0.15);
    }
  }
  &-wrapper {
    max-width: 488px;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
    &__subtitle {
      margin-top: 38px;
      font-weight: 300;
      text-transform: capitalize;
    }
  }
}

@include tablet {
  .process {
    &-container {
      gap: 34px;
    }
  }
}

@include small-tablet {
  .process {
    padding: 90px 0;
    &-container {
      flex-direction: column;
      justify-content: center;
      gap: 64px;
    }

    &-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 28px;
      &__title {
        text-align: center;
      }
      &__subtitle {
        text-align: center;
      }
    }
  }
}
@include big-mobile {
  .process {
    padding: 70px 0;
  }
}
