.process {
  padding: 144px 0;
  &-container {
    justify-content: center;
    gap: 64px;
  }
  &-video {
    width: 600px;
    height: 420px;
    border-radius: 8px;
    box-shadow: 0 36px 111px 0 rgba(0, 0, 0, 0.15);
    background-image: url('./../../img/play.png');
    background-position: center;
    background-repeat: no-repeat;
  }
  &-wrapper {
    max-width: 488px;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
    &__title {
    }
    &__subtitle {
      margin-top: 38px;
      font-family: var(--font-family);
      font-weight: 300;
      font-size: 14px;
      text-transform: capitalize;
      color: var(--text-color);
    }
  }
}

@include small-tablet {
  .process {
    padding: 90px 0;
    &-container {
      flex-direction: column;
      justify-content: center;
      gap: 64px;
    }

    &-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 28px;
      &__title {
        text-align: center;
      }
      &__subtitle {
        text-align: center;
      }
    }
  }
}
@include mobile {
  .process {
    padding: 70px 0;
    &-video {
      width: 100%;
      height: 190px;
    }
  }
}
