.team {
  background-color: var(--bg-color);
  &-container {
    width: 100%;
    justify-content: flex-end;
    flex: 0 0 50%;
  }
  &-info {
    max-width: 530px;
    margin-left: 15px;
    flex-direction: column;
    gap: 35px;
    align-items: start;
    &__title {
    }
    &-achievements {
      gap: 50px;
      align-items: flex-start;
      &__item {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
      &__count {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 48px;
        line-height: 133%;
        text-transform: capitalize;
        color: var(--accent-color);
      }
      &__title {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 20px;
        line-height: 133%;
        text-transform: capitalize;
        color: var(--dark-color);
      }
    }
  }

  &-foto {
    width: 100%;
    height: auto;
    min-height: 550px;
    max-height: 600px;
    background-image: url('./../../img/team.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    @media (min-width: 1570px) {
      background-size: contain;
    }
  }
}

@include small-tablet {
  .team {
    flex-direction: column-reverse;
    gap: 64px;
    padding-bottom: 64px;

    &-container {
      justify-content: center;
    }
    &-info {
      margin: 0;
      gap: 40px;
      align-items: center;
      text-align: center;
      &__title {
        text-align: center;
      }
      &-achievements {
        gap: 50px;
        &__item {
          align-items: center;
        }
      }
    }
  }
}
@include mobile {
  .team {
    flex-direction: column-reverse;
    gap: 64px;
    padding-bottom: 64px;

    &-container {
      justify-content: center;
    }
    &-info {
      margin: 0;
      gap: 40px;
      align-items: center;
      text-align: center;
      &__title {
        font-size: 24px;
      }
      &-achievements {
        gap: 40px;

        &__item {
          flex-direction: column;

          gap: 8px;
        }
        &__count {
          font-size: 24px;
          line-height: 36px;
        }
        &__title {
          font-size: 12px;
          line-height: 133%;
        }
      }
    }
    &-foto {
      width: 100%;
      min-height: 250px;
      height: auto;
      object-fit: cover;
    }
  }
}
