<div class="about-talent">
  <div class="about-talent-container container flex">
    <h2 class="about-talent-title title">Brænder du for service og talent ?</h2>
    <div class="about-talent-wrapper">
      <div class="about-talent-wrapper__item">
        <h3 class="about-talent-wrapper__title">Web Designer & Developer</h3>
        <span class="about-talent-wrapper__pisition"
          >Denmark | <span class="color-text">Full Time</span>
        </span>
        <span class="about-talent-wrapper__desc">Job Description</span>
        <button class="about-talent-wrapper__btn btn">Apply Now</button>
      </div>
      <div class="about-talent-wrapper__item">
        <h3 class="about-talent-wrapper__title">Web Designer & Developer</h3>
        <span class="about-talent-wrapper__pisition"
          >Denmark |
          <span class="color-text">Project Basis</span>
        </span>
        <span class="about-talent-wrapper__desc">Job Description</span>
        <button class="about-talent-wrapper__btn btn">Apply Now</button>
      </div>
      <div class="about-talent-wrapper__item">
        <h3 class="about-talent-wrapper__title">
          Can't find the position you are looking for?
        </h3>
        <span class="about-talent-wrapper__pisition"
          >Denmark |
          <span class="color-text">Full Time</span>
        </span>
        <span class="about-talent-wrapper__desc"
          >Don't worry, get in touch with us anyways, we are always looking for
          great team members to join us.</span
        >
        <button class="about-talent-wrapper__btn btn btn-reset">
          Contact Us
        </button>
      </div>
    </div>
  </div>
</div>
