<div class="about-team">
  <div class="about-team-container container">
    <h2 class="about-team-title title">
      Vores <span class="color-text">team</span>
    </h2>
    <ul class="about-team-list list-reset">
      <li class="about-team-list__item">
        <img
          src="img/about_us/teammate.png"
          alt=""
          class="about-team-list__img"
        />
        <span class="about-team-list__name text">layla</span>
        <span class="about-team-list__position text">UI UX desinger</span>
      </li>
      <li class="about-team-list__item">
        <img
          src="img/about_us/teammate.png"
          alt=""
          class="about-team-list__img"
        />
        <span class="about-team-list__name text">sofia</span>
        <span class="about-team-list__position text"
          >web-speed optimization</span
        >
      </li>
      <li class="about-team-list__item">
        <img
          src="img/about_us/teammate.png"
          alt=""
          class="about-team-list__img"
        />
        <span class="about-team-list__name text">michail</span>
        <span class="about-team-list__position text">google ads approval</span>
      </li>
      <li class="about-team-list__item">
        <img
          src="img/about_us/teammate.png"
          alt=""
          class="about-team-list__img"
        />
        <span class="about-team-list__name text">ricki chan</span>
        <span class="about-team-list__position text"
          >project leader / onboarding</span
        >
      </li>
      <li class="about-team-list__item">
        <img
          src="img/about_us/teammate.png"
          alt=""
          class="about-team-list__img"
        />
        <span class="about-team-list__name text">pathay</span>
        <span class="about-team-list__position text">COE hizxer</span>
      </li>
      <li class="about-team-list__item">
        <img
          src="img/about_us/teammate.png"
          alt=""
          class="about-team-list__img"
        />
        <span class="about-team-list__name text">manish</span>
        <span class="about-team-list__position text">software backend</span>
      </li>
      <li class="about-team-list__item">
        <img
          src="img/about_us/teammate.png"
          alt=""
          class="about-team-list__img"
        />
        <span class="about-team-list__name text">Chano</span>
        <span class="about-team-list__position text">software frontend</span>
      </li>
      <li class="about-team-list__item">
        <img
          src="img/about_us/teammate.png"
          alt=""
          class="about-team-list__img"
        />
        <span class="about-team-list__name text">akif mehmed</span>
        <span class="about-team-list__position text"
          >software AI cpecialist</span
        >
      </li>
    </ul>
  </div>
</div>
