<div class="benefits">
  <div class="benefits-container container">
    <div class="benefits-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide benefits-slide">
          <div class="benefits-slide__item flex">
            <h1 class="benefits-slide__item-title title">VisaNorth</h1>
            <p class="benefits-slide__item-text text">
              Optimering af ældre hjemmeside og nyt ERP system samt kunde login
              via mail
            </p>
            <img
              src="img/benefits/benefits.png"
              alt=""
              class="benefits-slide__item-img"
            />
            <span class="benefits-slide__item-subtitle color-text text"
              >Introduction</span
            >
            <p class="benefits-slide__item-introduction text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="benefits-slide__item-wrapper">
              <div class="benefits-slide__item-box">
                <span class="benefits-slide__item-descr-title color-text text"
                  >Project Scope</span
                >
                <p class="benefits-slide__item-descr text">
                  A squad of designers, developers and project manager. 12 Weeks
                  (Remote)
                </p>
              </div>
              <div class="benefits-slide__item-box">
                <span class="benefits-slide__item-descr-title color-text text"
                  >Client Testimony</span
                >
                <p class="benefits-slide__item-descr text">
                  A squad of designers, developers and project manager. 12 Weeks
                  (Remote)
                </p>
              </div>
              <div class="benefits-slide__item-box">
                <span class="benefits-slide__item-descr-title color-text text"
                  >Tools</span
                >
                <p class="benefits-slide__item-descr text">
                  Figma, Wordpress etc
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide benefits-slide">
          <div class="benefits-slide__item flex">
            <h1 class="benefits-slide__item-title title">VisaNorth</h1>
            <p class="benefits-slide__item-text text">
              Optimering af ældre hjemmeside og nyt ERP system samt kunde login
              via mail
            </p>
            <img
              src="img/benefits/benefits.png"
              alt=""
              class="benefits-slide__item-img"
            />
            <span class="benefits-slide__item-subtitle color-text text"
              >Introduction</span
            >
            <p class="benefits-slide__item-introduction text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="benefits-slide__item-wrapper">
              <div class="benefits-slide__item-box">
                <span class="benefits-slide__item-descr-title color-text text"
                  >Project Scope</span
                >
                <p class="benefits-slide__item-descr text">
                  A squad of designers, developers and project manager. 12 Weeks
                  (Remote)
                </p>
              </div>
              <div class="benefits-slide__item-box">
                <span class="benefits-slide__item-descr-title color-text text"
                  >Client Testimony</span
                >
                <p class="benefits-slide__item-descr text">
                  A squad of designers, developers and project manager. 12 Weeks
                  (Remote)
                </p>
              </div>
              <div class="benefits-slide__item-box">
                <span class="benefits-slide__item-descr-title color-text text"
                  >Tools</span
                >
                <p class="benefits-slide__item-descr text">
                  Figma, Wordpress etc
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide benefits-slide">
          <div class="benefits-slide__item flex">
            <h1 class="benefits-slide__item-title title">VisaNorth</h1>
            <p class="benefits-slide__item-text text">
              Optimering af ældre hjemmeside og nyt ERP system samt kunde login
              via mail
            </p>
            <img
              src="img/benefits/benefits.png"
              alt=""
              class="benefits-slide__item-img"
            />
            <span class="benefits-slide__item-subtitle color-text text"
              >Introduction</span
            >
            <p class="benefits-slide__item-introduction text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="benefits-slide__item-wrapper">
              <div class="benefits-slide__item-box">
                <span class="benefits-slide__item-descr-title color-text text"
                  >Project Scope</span
                >
                <p class="benefits-slide__item-descr text">
                  A squad of designers, developers and project manager. 12 Weeks
                  (Remote)
                </p>
              </div>
              <div class="benefits-slide__item-box">
                <span class="benefits-slide__item-descr-title color-text text"
                  >Client Testimony</span
                >
                <p class="benefits-slide__item-descr text">
                  A squad of designers, developers and project manager. 12 Weeks
                  (Remote)
                </p>
              </div>
              <div class="benefits-slide__item-box">
                <span class="benefits-slide__item-descr-title color-text text"
                  >Tools</span
                >
                <p class="benefits-slide__item-descr text">
                  Figma, Wordpress etc
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="benefits-nav-btn btn-reset">
      <svg>
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </div>
  </div>
</div>
