<div class="careers-speed">
  <div class="careers-speed-container container">
    <div class="careers-speed-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="careers-speed-slider__item">
            <h2 class="careers-speed-title title">
              Are you ready to
              <span class="color-text">Optimise your Speed?</span>
            </h2>
            <div class="careers-speed-wrapper flex">
              <img
                src="img/artboard-3.jpeg"
                alt=""
                width="590"
                height="362"
                data-aos="flip-left"
                data-aos-duration="1200"
              />
              <div
                class="careers-speed-optimised flex"
                data-aos-delay="800"
                data-aos="fade-right"
                data-aos-duration="800"
              >
                <span class="careers-speed-optimised__percent">200%</span>
                <span class="careers-speed-optimised__text">optimised</span>
              </div>
              <div class="careers-speed-info">
                <h3
                  class="careers-speed-info__subtitle text"
                  data-aos-delay="300"
                  data-aos="fade-left"
                  data-aos-duration="800"
                >
                  Project Name & Intro
                </h3>
                <p
                  class="careers-speed-info__text text"
                  data-aos-delay="400"
                  data-aos="fade-left"
                  data-aos-duration="800"
                >
                  Visa North Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <h3
                  class="careers-speed-info__subtitle text"
                  data-aos-delay="500"
                  data-aos="fade-left"
                  data-aos-duration="800"
                >
                  Client Testimony
                </h3>
                <p
                  class="careers-speed-info__text text"
                  data-aos-delay="600"
                  data-aos="fade-left"
                  data-aos-duration="800"
                >
                  A squad of designers, developers and project manager. 12 Weeks
                  (Remote)
                </p>
                <h3
                  class="careers-speed-info__subtitle text"
                  data-aos-delay="700"
                  data-aos="fade-left"
                  data-aos-duration="800"
                >
                  Tools
                </h3>
                <p
                  class="careers-speed-info__text text"
                  data-aos-delay="800"
                  data-aos="fade-left"
                  data-aos-duration="800"
                >
                  Figma, Wordpress etc
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="careers-speed-slider__item">
            <h2 class="careers-speed-title title">
              Are you ready to
              <span class="color-text">Optimise your Speed?</span>
            </h2>
            <div class="careers-speed-wrapper flex">
              <img src="img/artboard-3.jpeg" alt="" width="590" height="362" />
              <div class="careers-speed-optimised flex">
                <span class="careers-speed-optimised__percent">200%</span>
                <span class="careers-speed-optimised__text">optimised</span>
              </div>
              <div class="careers-speed-info">
                <h3 class="careers-speed-info__subtitle text">
                  Project Name & Intro
                </h3>
                <p class="careers-speed-info__text text">
                  Visa North Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <h3 class="careers-speed-info__subtitle text">
                  Client Testimony
                </h3>
                <p class="careers-speed-info__text text">
                  A squad of designers, developers and project manager. 12 Weeks
                  (Remote)
                </p>
                <h3 class="careers-speed-info__subtitle text">Tools</h3>
                <p class="careers-speed-info__text text">
                  Figma, Wordpress etc
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="careers-speed-slider__item">
            <h2 class="careers-speed-title title">
              Are you ready to
              <span class="color-text">Optimise your Speed?</span>
            </h2>
            <div class="careers-speed-wrapper flex">
              <img src="img/artboard-3.jpeg" alt="" width="590" height="362" />
              <div class="careers-speed-optimised flex">
                <span class="careers-speed-optimised__percent">200%</span>
                <span class="careers-speed-optimised__text">optimised</span>
              </div>
              <div class="careers-speed-info">
                <h3 class="careers-speed-info__subtitle text">
                  Project Name & Intro
                </h3>
                <p class="careers-speed-info__text text">
                  Visa North Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <h3 class="careers-speed-info__subtitle text">
                  Client Testimony
                </h3>
                <p class="careers-speed-info__text text">
                  A squad of designers, developers and project manager. 12 Weeks
                  (Remote)
                </p>
                <h3 class="careers-speed-info__subtitle text">Tools</h3>
                <p class="careers-speed-info__text text">
                  Figma, Wordpress etc
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="careers-speed-pagination swiper-pagination"></div>
  </div>
</div>
