<div class="careers-steps">
  <div class="careers-steps-container container">
    <h1 class="careers-steps-title title">
      3 easy Steps to <span class="color-text">Increase your speed</span>
    </h1>

    <div class="careers-steps-wrapper">
      <div class="careers-steps-item">
        <img
          src="img/careers/speed-analysis.png"
          class="careers-steps-item__img"
          data-aos="zoom-out-down"
          data-aos-delay="600"
          data-aos-duration="900"
        />
        <h2
          class="careers-steps-item__title title"
          data-aos="fade-up"
          data-aos-delay="600"
          data-aos-duration="900"
        >
          Speed Analysis
        </h2>
        <p
          class="careers-steps-item__text text"
          data-aos="fade-up"
          data-aos-delay="600"
          data-aos-duration="900"
        >
          We analyze how fast shop can be
        </p>
      </div>
      <div class="careers-steps-item">
        <img
          src="img/careers/get-ready.png"
          class="careers-steps-item__img"
          data-aos="zoom-out-down"
          data-aos-delay="800"
          data-aos-duration="900"
        />
        <h2
          class="careers-steps-item__title title"
          data-aos="fade-up"
          data-aos-delay="800"
          data-aos-duration="900"
        >
          get ready for big results
        </h2>
        <p
          class="careers-steps-item__text text"
          data-aos="fade-up"
          data-aos-delay="800"
          data-aos-duration="900"
        >
          sit back while we perform the speed optimization
        </p>
      </div>
      <div class="careers-steps-item">
        <img
          src="img/careers/result.png"
          alt=""
          class="careers-steps-item__img"
          data-aos="zoom-out-down"
          data-aos-delay="900"
          data-aos-duration="900"
        />
        <h2
          class="careers-steps-item__title title"
          data-aos="fade-up"
          data-aos-delay="900"
          data-aos-duration="900"
        >
          get ready for big results
        </h2>
        <p
          class="careers-steps-item__text text"
          data-aos="fade-up"
          data-aos-delay="900"
          data-aos-duration="900"
        >
          sit back while we perform the speed optimization
        </p>
      </div>
    </div>
  </div>
</div>
