<div class="careers-hero">
  <div class="careers-hero-container container">
    <div class="careers-hero-info">
      <h1 class="careers-hero-title title">
        Accelerate Your Success with
        <span class="color-text">Speed Optimization</span>
      </h1>
      <p class="careers-hero-descr text">
        Website speed is crucial—it boosts user satisfaction, improves
        conversion rates, and enhances SEO rankings. Fast sites keep users
        engaged, encouraging them to stay longer and interact more, which in
        turn helps your site rank better on search engines. Essentially, a
        speedy website not only delights users but also drives business success.
      </p>
    </div>
    <div class="careers-hero-img">
      <img
        src="img/careers/careers-list.png"
        width="278"
        height="340"
        class="careers-hero-img__list"
        data-aos="flip-left"
        data-aos-duration="800"
      />
      <img
        src="img/careers/careers-list-item.png"
        width="152"
        height="58"
        class="careers-hero-img__list-item-first"
        class="careers-hero-img__list"
        data-aos-delay="300"
        data-aos="fade-right"
        data-aos-duration="500"
      />
      <img
        src="img/careers/careers-list-item.png"
        width="152"
        height="58"
        class="careers-hero-img__list-item-second"
        data-aos-delay="400"
        data-aos="fade-right"
        data-aos-duration="500"
      />
      <img
        src="img/careers/careers-list-item-big.png"
        width="246"
        height="58"
        class="careers-hero-img__list-item-third"
        data-aos-delay="500"
        data-aos="fade-right"
        data-aos-duration="500"
      />
      <img
        src="img/careers/careers-list-item-big.png"
        width="246"
        height="58"
        class="careers-hero-img__list-item-fourth"
        data-aos-delay="600"
        data-aos="fade-right"
        data-aos-duration="500"
      />
      <img
        src="img/careers/careers-rocket.png"
        width="186"
        height="216"
        class="careers-hero-img__list-item-rocket"
        data-aos-delay="900"
        data-aos="fade-up-right"
        data-aos-duration="1200"
      />
      <img
        src="img/careers/careers-smoke.png"
        width="212"
        height="316"
        class="careers-hero-img__list-item-smoke"
        data-aos-delay="900"
        data-aos-easing="linear"
        data-aos="fade-down"
        data-aos-duration="800"
      />
      <img
        src="img/careers/careers-man.png"
        width="236"
        height="280"
        class="careers-hero-img__list-item-man"
        data-aos-delay="1000"
        data-aos="fade-down-right"
        data-aos-duration="800"
      />
    </div>
  </div>
</div>
