<div class="case flex">
  <div class="case-container container flex">
    <div class="case-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="case-slider__item flex">
            <div class="case-slider__info">
              <h2 class="case-slider__title title color-text">Case Study:</h2>
              <span>Optimering af CRM for Præcise <br />Skattefradrag</span>
              <p class="case-slider__text text">
                I et samarbejde med en anden softwarevirksomhed søgte vores
                klient hjælp til at løse en afgørende udfordring. På trods af
                deres udvikleres dygtighed inden for kodning stødte de på
                vanskeligheder med at forstå den fulde løsning, der var
                nødvendig for at imødekomme kundeudfordringer inden for
                CRM-backend-systemet.
              </p>
              <button class="case-slider__btn btn-reset btn btn--big">
                Alt starter med en samtale
              </button>
            </div>
            <div
              class="case-slider__img"
              data-aos="fade-right"
              data-aos-offset="300"
              data-aos-easing="ease-in-sine"
            >
              <img src="./../img/case-1.png" alt="" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="case-slider__item flex">
            <div class="case-slider__info">
              <h2 class="case-slider__title title color-text">Case Study:</h2>
              <span>ProBatteri</span>
              <p class="case-slider__text text">
                ProBatteri stod over for udfordringer med manuel
                bestillingsproces og kundedatahåndtering. Vores løsninger
                omfattede automatiseret bestillingssystem, to-vejs
                fragtløsninger, Smart CRM-system, faktura API til Dinero samt
                webshop og designoptimering. En effektiv bestillingsproces,
                automatiseret forsendelse og organiseret kundedatabase. Denne
                holistiske tilgang har ikke kun frigivet ressourcer, men også
                forbedret kundeoplevelsen og øget virksomhedens resultater
                betydeligt.
              </p>
              <button class="case-slider__btn btn-reset btn btn--big">
                Alt starter med en samtale
              </button>
            </div>
            <div
              class="case-slider__img"
              data-aos="fade-right"
              data-aos-offset="300"
              data-aos-duration="1500"
              data-aos-easing="ease-in-sine"
            >
              <img src="./../img/case-2.png" alt="" />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="case-slider__item flex">
            <div class="case-slider__info">
              <h2 class="case-slider__title title color-text">Case Study:</h2>
              <span>VisaNorth</span>
              <p class="case-slider__text text">
                VisaNorth, der dagligt håndterer tusindvis af visaansøgninger og
                mødebookinger, søgte en helhedsorienteret løsning. Vi
                implementerede et avanceret CRM-system til effektiv ledelse af
                daglige leads og møder, samt en intelligent processtyring.
                Samtidig udviklede vi en ny hjemmeside med integreret
                softwareløsning. Resultatet er en strømlinet
                visaansøgningsproces, håndtering af mødebookinger og forbedret
                interne drift.
              </p>
              <button class="case-slider__btn btn-reset btn btn--big">
                Alt starter med en samtale
              </button>
            </div>
            <div class="case-slider__img">
              <img src="./../img/case-3.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="case-nav-btn btn-reset">
      <svg>
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </div>
  </div>
</div>
