<div class="choose">
  <div class="choose-container container">
    <h2 class="choose-title title">
      Hvorfor vælge <span class="color-text">Hixzer</span>
    </h2>
    <span class="choose-subtitle text"
      >En samlet løsning og kundens behov i fokus</span
    >
    <div class="choose-wrapper">
      <div class="choose-wrapper__item">
        <div class="choose-wrapper__img flex">
          <svg>
            <use xlink:href="img/sprite.svg#microfon"></use>
          </svg>
        </div>
        <h3 class="choose-wrapper__title title">Projektleder og strategi</h3>
        <p class="choose-wrapper__text text">
          Du vil blive tildelt en dedikeret projektleder, der skaber en strategi
          for opbygningen af din hjemmeside i samarbejde med dig, designere og
          udviklere, baseret på dine ideer.
        </p>
      </div>
      <div class="choose-wrapper__item choose-wrapper__item--color">
        <div class="choose-wrapper__img flex">
          <svg>
            <use xlink:href="img/sprite.svg#vector "></use>
          </svg>
        </div>
        <h3 class="choose-wrapper__title title">Profesionel håndtering</h3>
        <p class="choose-wrapper__text text">
          Når vi konstruerer nye hjemmesider, platforme, software og apps,
          sørger vi for, at data fra ældre versioner bevares, og vi håndterer
          alt med omhu. Vores tilgang er professionel, og vi sikrer en
          omhyggelig gennemførelse af hele processen."
        </p>
      </div>
      <div class="choose-wrapper__item choose-wrapper__item--color">
        <div class="choose-wrapper__img flex">
          <svg>
            <use xlink:href="img/sprite.svg#dollar"></use>
          </svg>
        </div>
        <h3 class="choose-wrapper__title title">Prisvenlige</h3>
        <p class="choose-wrapper__text text">
          Vi udarbejder et pris overslag og arbejder i milestones så du betaler
          per fuldført process. Så du kan følge med i hvad der løbende sker.
        </p>
      </div>
      <div class="choose-wrapper__item">
        <div class="choose-wrapper__img flex">
          <svg>
            <use xlink:href="img/sprite.svg#optimering"></use>
          </svg>
        </div>
        <h3 class="choose-wrapper__title title">Hastigheds optimering</h3>
        <p class="choose-wrapper__text text">
          En fejlagtig tilgang til opbygningen kan få dyre konsekvenser. Derfor
          sikrer vi også, at din hjemmeside, app eller software er optimeret med
          fokus på hastighed.
        </p>
      </div>
    </div>
  </div>
</div>
