<div class="complex flex">
  <div class="complex-container container">
    <div class="complex-img" data-aos="fade-right" data-aos-duration="2000">
      <img src="img/complex-bg.png" alt="" />
    </div>
    <div class="complex-wrapper flex">
      <h2 class="complex-title title">
        <span class="color-text">Complex Software,</span>
        <br />
        Brugervenlig Design
      </h2>
      <p class="complex-text text">
        Når vi leverer kompleks og avanceret software til vores kunder, tilbyder
        vi samtidig website-optimering med redesign, udført af vores erfarne
        designteam. Vi går i dybden med alt fra hjemmeside- til dashboard-design
        for at sikre en brugervenlig oplevelse. Vores tilgang omfatter også
        proaktiv identifikation og forebyggelse af potentielle faldgruber for at
        optimere brugeroplevelsen for dine kunder. Vi gør det nemt at udvikle
        hjemmesider med forbedret arbejdsgang.
      </p>
      <button class="complex-btn btn-reset btn btn--big">
        Alt starter med en snak
      </button>
    </div>
  </div>
</div>
