<div class="coptain">
  <ul class="coptain-list list-reset flex">
    <li class="coptain-list__item active flex" data-target=".people">
      <svg>
        <use xlink:href="img/sprite.svg#people"></use>
      </svg>
    </li>
    <li class="coptain-list__item flex" data-target=".idea">
      <svg>
        <use xlink:href="img/sprite.svg#idea"></use>
      </svg>
    </li>
    <li class="coptain-list__item flex" data-target=".design">
      <svg>
        <use xlink:href="img/sprite.svg#pen"></use>
      </svg>
    </li>
    <li class="coptain-list__item flex" data-target=".programming">
      <svg>
        <use xlink:href="img/sprite.svg#programming"></use>
      </svg>
    </li>
  </ul>
  <div class="coptain-container container flex">
    <div class="coptain-video flex">
      <video
        class="coptain-video__item"
        src="img/video/video.mp4"
        controls
      ></video>
    </div>
    <div class="coptain-wrapper flex">
      <div class="coptain-wrapper__item active people">
        <h2 class="coptain-wrapper__title title">The Team and captain</h2>
        <p class="coptain-wrapper__text text">
          Hixzer, a software project begins with a dedicated project leader
          guiding the transformation of customer needs and ideas into solutions.
          This involves creating a detailed timeline, establishing a structure,
          and assembling our team to meet your specific requirements. We
          initiate the process with a conversation and product clarification.
        </p>
        <ul class="coptain-wrapper-list list-reset flex">
          <li class="coptain-wrapper-list__item">
            We understand our customers' needs.
          </li>
          <li class="coptain-wrapper-list__item">
            We build the right team based on the requirements set for the
            development.
          </li>
          <li class="coptain-wrapper-list__item">
            We provide a timeline indicating the duration of the project, from
            design and software generation to the finished product
          </li>
        </ul>
      </div>
      <div class="coptain-wrapper__item idea">
        <h2 class="coptain-wrapper__title title">Ide overblik</h2>
        <p class="coptain-wrapper__text text">
          Ideer og kundeanalyse udarbejdes for at danne et klart overblik over,
          hvordan kundens brugeroplevelse og interaktioner skal forløbe. Der
          etableres en rød tråd gennem kundens rejse for at sikre, at vi fanger
          deres opmærksomhed effektivt. Samtidig identificeres potentielle
          faldgruber og forebygges proaktivt. En omfattende rapport udarbejdes,
          hvor alle detaljer afklares for at sikre overholdelse af alle krav og
          forventninger.
        </p>
        <ul class="coptain-wrapper-list list-reset flex">
          <li class="coptain-wrapper-list__item">
            Designer og kundeanalytiker samarbejder om at udarbejde en strategi.
          </li>
          <li class="coptain-wrapper-list__item">
            Sikre overholdelse af alle krav og klarlægge udviklingsprocessen."
          </li>
          <li class="coptain-wrapper-list__item">
            Projektlederen iværksætter og etablerer kommunikationen mellem
            softwareudviklere og designere.
          </li>
        </ul>
      </div>
      <div class="coptain-wrapper__item design">
        <h2 class="coptain-wrapper__title title">UI UX Designudvikling</h2>
        <p class="coptain-wrapper__text text">
          Designprocessen gennemgår tre faser: Først skabes et mockup, der
          sikrer overholdelse af den røde tråd. Efter opbygning og udvikling af
          detaljeret design, afsluttes den overordnede designproces. I den
          sidste fase med en optimeret designløsning.
        </p>
        <ul class="coptain-wrapper-list list-reset flex">
          <li class="coptain-wrapper-list__item">
            Mockup og framework udarbejdes baseret på designet og kundeanalysen.
          </li>
          <li class="coptain-wrapper-list__item">
            Det endelige design udvikles og gennemgås af softwareteamet.
          </li>
          <li class="coptain-wrapper-list__item">
            Endelig optimeres designet baseret på indholdsstrategi, responsivt
            design, grafisk design og brugeroplevelsesdesign (UX).
          </li>
        </ul>
      </div>
      <div class="coptain-wrapper__item programming">
        <h2 class="coptain-wrapper__title title">Software udvikling</h2>
        <p class="coptain-wrapper__text text">
          I denne fase igangsættes softwareprocessen, hvor arkitektonisk design
          og modulær opdeling tager form. Der etableres en solid datastruktur,
          og hele softwaren opbygges og testes kontinuerligt i overensstemmelse
          med den definerede teststrategi. Der foretages en omhyggelig
          gennemgang af potentielle faldgruber, og testene baseres på de
          specificerede krav for at sikre, at softwaren opfylder de fastlagte
          standarder.
        </p>
        <ul class="coptain-wrapper-list list-reset flex">
          <li class="coptain-wrapper-list__item">
            Vi gennemfører arkitektonisk design for at etablere et framework
            baseret på den indledende analyse.
          </li>
          <li class="coptain-wrapper-list__item">
            Modulær opdeling hvor forskelige dele af sof
          </li>
          <li class="coptain-wrapper-list__item">
            Test af software udføres gennem iterativ udvikling i
            overensstemmelse med en defineret teststrategi.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
