<div class="faq-rates">
  <div class="faq-rates-container container">
    <ul class="faq-rates-list list-reset flex">
      <li class="faq-rates-list__item flex">
        <span class="faq-rates-list__item-price">$1200</span>
        <span class="faq-rates-list__item-name">Intro</span>
        <span class="faq-rates-list__item-descr">Lorem Ipsum</span>
        <ul class="faq-rates-list__item-list list-reset">
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
        </ul>
        <a href="# " class="faq-rates-list__item-list__btn">Choose plan</a>
      </li>
      <li class="faq-rates-list__item flex">
        <span class="faq-rates-list__item-price">$5000</span>
        <span class="faq-rates-list__item-name">Base</span>
        <span class="faq-rates-list__item-descr">Lorem Ipsum</span>
        <ul class="faq-rates-list__item-list list-reset">
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
        </ul>
        <a href="# " class="faq-rates-list__item-list__btn">Choose plan</a>
      </li>
      <li class="faq-rates-list__item flex">
        <span class="faq-rates-list__item-popular">most popular</span>
        <span class="faq-rates-list__item-price">$10,000</span>
        <span class="faq-rates-list__item-name">Pro</span>
        <span class="faq-rates-list__item-descr">Lorem Ipsum</span>
        <ul class="faq-rates-list__item-list list-reset">
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
        </ul>
        <a href="# " class="faq-rates-list__item-list__btn">Choose plan</a>
      </li>
      <li class="faq-rates-list__item flex">
        <span class="faq-rates-list__item-price">$20,000</span>
        <span class="faq-rates-list__item-name">Enterprise</span>
        <span class="faq-rates-list__item-descr">Lorem Ipsum</span>
        <ul class="faq-rates-list__item-list list-reset">
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
          <li class="faq-rates-list__item-list__item">Lorem Ipsum</li>
        </ul>
        <a href="# " class="faq-rates-list__item-list__btn">Choose plan</a>
      </li>
    </ul>
  </div>
</div>
