<div class="focus">
  <div class="focus-container container">
    <h2 class="focus-title title">
      Vi tilbyder en <span class="color-text">samlet Løsning</span> som skaber
      bedre overblik, Så din <span class="color-text">Ide er i focus</span>
    </h2>
    <div class="focus-wrapper">
      <div class="focus-wrapper__item flex">
        <svg class="focus-wrapper__img">
          <use xlink:href="img/sprite.svg#pen"></use>
        </svg>

        <h3 class="focus-wrapper__title">UI UX Design</h3>
        <p class="focus-wrapper__text text">
          Vores tilgang til at skabe hjemmesider, platforme og app-designs. er
          simpel og effektiv. Vores UI/UX-designere begynder med at forstå dine
          kunders adfærd og identitet. Med denne viden skaber de et design, der
          er skræddersyet til at løse dine kunders behov. Ved at anvende
          konverteringsstrategier og troværdighedsprincipper sikrer vi, at din
          hjemmeside eller app ikke kun fanger, men også fastholder dine kunders
          interesse. Dette gælder både for app- og platformdesign.
        </p>
        <input type="checkbox" class="focus-wrapper__checkbox" />
      </div>
      <div class="focus-wrapper__item flex">
        <svg class="focus-wrapper__img">
          <use xlink:href="img/sprite.svg#programming"></use>
        </svg>
        <h3 class="focus-wrapper__title">Software</h3>
        <p class="focus-wrapper__text text">
          Vi specialiserer os i at skabe skræddersyede softwareløsninger til din
          idde, uanset om det drejer sig om at bygge en unik app med dit eget
          produkt, en platform til håndtering af flere brugere eller en
          hjemmeside med automatiserede arbejdsprocesser. Vores erfarne
          udviklere, med samlet 38 års erfaring inden for kodning og optimering,
          er klar til at omsætte dine ideer til funktionelle og effektive
          digitale løsninger.
        </p>
        <input type="checkbox" class="focus-wrapper__checkbox" />
      </div>
      <div class="focus-wrapper__item flex">
        <svg class="focus-wrapper__img">
          <use xlink:href="img/sprite.svg#microfon"></use>
        </svg>
        <h3 class="focus-wrapper__title">Support og strategi</h3>
        <p class="focus-wrapper__text text">
          Natteravn og projektleder udgør hjørnestenene i vores tilgang, når vi
          samarbejder med vores kunder. Vi specialiserer os ikke kun i
          opbygningen af komplekse software, apps og hjemmesider, men også vores
          support. vores natteravn står klar til at håndtere udfordringer og
          gribe den næste idé hvis noget skulle dukke op. Hos os er du mere end
          blot et nummer i køen. Vores dedikerede projektleder vil guide dig
          gennem hele processen som din rådgiver og koordinator mellem vores
          designer og udvikler. Således kan din idé blive omsat til en effektiv
          løsning."
        </p>
        <input type="checkbox" class="focus-wrapper__checkbox" />
      </div>
    </div>
  </div>
</div>
