<footer class="footer">
  <div class="footer-container container">
    <div class="footer-wrapper">
      <div class="footer-logo flex">
        <svg>
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </div>
      <div class="footer-contact">
        <div class="footer-contact__box">
          <div class="footer-contact__location">Office Location</div>
          <div class="footer-contact__location">Office Location</div>
          <a href="tel:+4909898837" class="footer-contact__phone"
            >+49 098 988371</a
          >
          <a href="mailto:info@heixer.com" class="footer-contact__email"
            >info@heixer.com</a
          >
        </div>
        <ul class="footer-socials list-reset flex">
          <li class="footer-socials__text">Social Media</li>
          <li class="footer-socials__item">
            <a href="/" class="footer-socials__link">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials__item">
            <a href="/" class="footer-socials__link">
              <svg>
                <use xlink:href="img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials__item">
            <a href="/" class="footer-socials__link">
              <svg>
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials__item">
            <a href="/" class="footer-socials__link">
              <svg>
                <use xlink:href="img/sprite.svg#googlePlus"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials__item">
            <a href="/" class="footer-socials__link">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials__item">
            <a href="/" class="footer-socials__link">
              <svg>
                <use xlink:href="img/sprite.svg#pinterest"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials__item">
            <a href="/" class="footer-socials__link">
              <svg>
                <use xlink:href="img/sprite.svg#rss"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom flex">
      <div class="footer-nav">
        <ul class="footer-nav__list list-reset flex">
          <li class="footer-nav__item">
            <a href="/" class="footer-nav__link">about us</a>
            <a href="/" class="footer-nav__link">contact us</a>
          </li>

          <li class="footer-nav__item">
            <a href="/" class="footer-nav__link">help 24/7</a>
            <a href="/" class="footer-nav__link">privacy policy</a>
          </li>

          <li class="footer-nav__item">
            <a href="/" class="footer-nav__link">disclaimer</a>
            <a href="/" class="footer-nav__link">solutions</a>
          </li>

          <li class="footer-nav__item">
            <a href="/" class="footer-nav__link">support</a>
            <a href="/" class="footer-nav__link">gdpr denmark</a>
          </li>

          <li class="footer-nav__item">
            <a href="/" class="footer-nav__link">payment</a>
            <a href="/" class="footer-nav__link">the helping people</a>
          </li>
        </ul>
      </div>
      <div class="footer-copyright">Copyright © 2024 • Hizxer.</div>
    </div>
  </div>
</footer>
