<header class="header">
  <div class="header-wrapper flex">
    <a href="/" class="header-logo">
      <img src="img/logo.png" alt="company logo" width="182" height="52" />
    </a>
    <nav class="header-nav flex" data-menu>
      <ul class="header-nav__list list-reset flex">
        <li class="header__nav__item">
          <a class="header-nav__link active" href="index.html">Homepage</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="about_us.html">About Us</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="blog.html">Blog</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="case.html">Case Studies</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="faq.html">FAQ</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="careers.html">Careers</a>
        </li>
      </ul>
      <button class="btn-reset header-nav__btn btn">Schedule A Call</button>
    </nav>
    <button
      class="burger"
      aria-label="Відкрити меню"
      aria-expanded="false"
      data-burger=""
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
