<header class="header">
  <div class="header-wrapper flex">
    <a href="/" class="header-logo">
      <svg>
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="header-nav flex" data-menu>
      <ul class="header-nav__list list-reset flex">
        <li class="header__nav__item">
          <a class="header-nav__link active" href="/">Homepage</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="services-page.html">About Us</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="index.html#clients">Benefits</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="contact-page.html"
            >Success Stories</a
          >
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="contact-page.html">FAQ</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="contact-page.html">Careers</a>
        </li>
      </ul>
      <button class="btn-reset header-nav__btn btn">Schedule A Call</button>
    </nav>
    <button
      class="burger"
      aria-label="Відкрити меню"
      aria-expanded="false"
      data-burger=""
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
