<div class="hero">
  <div class="hero-container container flex">
    <div class="hero-desc">
      <h1 class="hero-desc__title title">Apps, Websites <br />og Software</h1>
      <span class="hero-desc__subtitle">Du har en ide </span>
      <div class="hero-desc__line">
        <svg
          width="89"
          height="2"
          viewBox="0 0 89 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.5 1L87.5 1"
            stroke="#6941C6"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <p class="hero-desc__text text">
        Vi forstår jeres behov og vi forstår at optimere dem udfra vores
        erfaring så i kommer i mål med jeres idder. Alt samlet i en løsning hos
        os. Vi Forstår, Vi Leverer, Vi optimerer
      </p>
    </div>
    <div class="hero-bg" data-aos="fade-left" data-aos-duration="1500">
      <img src="img/hero-bg.png" alt="" class="hero-bg__img" loading="lazy" />
      <img
        src="img/artboard-1.jpeg"
        alt=""
        class="hero-bg__img--hover first"
        data-aos-delay="500"
        data-aos="zoom-in"
        data-aos-duration="1500"
      />
      <img
        src="img/artboard-2.jpeg"
        alt=""
        class="hero-bg__img--hover second"
        data-aos-delay="1500"
        data-aos="fade-down-left"
        data-aos-duration="1500"
      />
      <img
        src="img/artboard-3.jpeg"
        alt=""
        class="hero-bg__img--hover third"
        data-aos-delay="2000"
        data-aos="fade-down-right"
        data-aos-duration="1500"
      />
    </div>
  </div>
</div>
