<div class="pages-coll">
  <div class="pages-coll-top">
    <div class="pages-coll-top-container container flex">
      <h2 class="pages-coll-top__title title">
        <span class="color-text">Har du en ide,</span> men mangler <br />
        ressourcer til at omsætte den <br />til
        <span class="color-text">virkelighed?</span>
      </h2>
      <form class="pages-coll-form coll-form">
        <!-- data-aos="fade-left"
      data-aos-offset="500"
      data-aos-duration="1500"
      data-aos-delay="1000" -->
        <h3 class="coll-form__title title">
          Alt starter med en
          <span class="color-text">samtale er vi den næste ?</span>
        </h3>
        <div class="coll-form__wrapper">
          <div class="coll-form__item">
            <label class="coll-form__label">Name</label>
            <input
              type="text"
              class="coll-form__input"
              placeholder="Full Name/Navn"
            />
          </div>
          <div class="coll-form__item">
            <label class="coll-form__label">Email</label>
            <input
              type="email"
              class="coll-form__input"
              placeholder="Email/Mail"
            />
          </div>
          <div class="coll-form__item">
            <label class="coll-form__label">Phone</label>
            <input
              type="text"
              class="coll-form__input"
              placeholder="0198765355"
            />
          </div>
          <div class="coll-form__item">
            <label class="coll-form__label"
              >Uddyb gerne så meget som muligt</label
            >
            <textarea
              rows="5"
              type="text"
              class="coll-form__text"
              placeholder="I want a website for my realerstate business "
            ></textarea>
          </div>
          <button class="btn-reset btn coll-form__btn">
            Alt starter med en samtale
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="pages-coll-bottom coll-bottom"></div>
</div>
