<div class="process">
  <div class="process-container container flex">
    <div class="process-video"></div>
    <div class="process-wrapper flex">
      <h2 class="process-wrapper__title title">
        <span class="color-text">Vores process</span> og <br />tilgang
      </h2>
      <span class="process-wrapper__subtitle text"
        >pålidelighed effektivitet Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Laudantium, accusamus dicta? Atque eligendi
        consectetur minus dolore reprehenderit id earum sapiente?</span
      >
      <button class="process-wrapper__btn btn-reset btn btn--big">
        Alt starter med en samtale
      </button>
    </div>
  </div>
</div>
