<div class="process">
  <div class="process-container container flex">
    <div class="process-video flex">
      <iframe
        class="process-video__item"
        frameborder="0"
        allowfullscreen=""
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        title="Video Placeholder"
        width="640"
        height="360"
        src="https://www.youtube.com/embed/XHOmBV4js_E?controls=1&amp;rel=0&amp;playsinline=0&amp;modestbranding=0&amp;autoplay=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fhixzer.com&amp;widgetid=1"
        id="widget2"
      ></iframe>
    </div>
    <div class="process-wrapper flex">
      <h2 class="process-wrapper__title title">
        <span class="color-text">Vores process</span> og <br />tilgang
      </h2>
      <span class="process-wrapper__subtitle text"
        >pålidelighed effektivitet Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Laudantium, accusamus dicta? Atque eligendi
        consectetur minus dolore reprehenderit id earum sapiente?</span
      >
      <button class="process-wrapper__btn btn-reset btn btn--big">
        Alt starter med en samtale
      </button>
    </div>
  </div>
</div>
