<div class="review">
  <div class="review-container container flex">
    <div class="review-img"></div>
    <div class="review-wrapper flex">
      <p class="review-wrapper__text">
        “Hixzer er dygtige til projektledelse, hvilket fører til vellykket
        webdesign og softwareudvikling. Men vigtigst af alt forstår de kundens
        behov og idéer for at skabe visionen."
      </p>
      <span class="review-wrapper__name">Kevin Maes</span>
      <span class="review-wrapper__position">CEO of estateTrax France - </span>
    </div>
  </div>
</div>
