<div class="team flex">
  <div class="team-container flex">
    <div class="team-info flex">
      <h2 class="team-info__title title">
        Vores team taler dansk, engelsk og thai.
      </h2>
      <div class="team-info-achievements flex">
        <div class="team-info-achievements__item flex">
          <span class="team-info-achievements__count">32+</span>
          <span class="team-info-achievements__title"
            >Software <br />løsninger</span
          >
        </div>
        <div class="team-info-achievements__item flex">
          <span class="team-info-achievements__count">2</span>
          <span class="team-info-achievements__title"
            >UI UX <br />Designer</span
          >
        </div>
        <div class="team-info-achievements__item flex">
          <span class="team-info-achievements__count">9</span>
          <span class="team-info-achievements__title">eksperter</span>
        </div>
      </div>
      <button class="team-info__btn btn btn--big btn-reset">
        Schedule A Call
      </button>
    </div>
  </div>
  <div class="team-foto">
    <img src="../img/team.jpeg" alt="" class="team-foto__img" />
  </div>
</div>
